*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./images/back.jpg) ;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}
.heading{
    margin-bottom: 30px;
    text-align: center;
}
.question{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid black;
    position: relative;
}
.question::after{
    content: '+';
    position: absolute;
    right: -5px;
    font-size: 35px;
}
.answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    display: none;
}
.answerShow{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    display: block;
}